nav{
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
    left: 0px;
    top: 0px;
    }
    
    .menu ul{ 
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style-type: none;
        padding: 0;
        margin-top: 20px;
    }
    
    .menu a {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    display: block;
    padding: 7px 15px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: white;
    }
    
    .menu a:hover {
        color: #1482FA;
        text-decoration: none;
        font-size:21px;
    }
    
    .logo{
     display: flex;
    flex-direction: row;
    margin-right: 500px;
    padding: 0px;
    gap: 30px;
    width: 382.02px;
    height: 75.96px;
    }

    .active {
        color: blue !important;
    }
    
.buttonlogout {
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #004189;
  border-radius: 10px;
  border: none;  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}